{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "no-console": "off",
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": [2, "always"],
    "comma-dangle": ["on"]
  }
}
